h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

p {
  letter-spacing: 0.04rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 0.6rem;
}

label {
  display: block;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}

input {
  border-radius: 2rem;
}

input,
textarea {
  width: 100%;
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  color: gray;
}

textarea {
  resize: none;
  border-radius: 0.5rem;
}

input:focus-within,
textarea:focus-within {
  outline: 1px solid #ccc;
}

button {
  background-color: aquamarine;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
}

.contact-group {
  margin-bottom: 0.5rem;
}
