form {
  width: 100%;
}
input {
  width: 93%;
  border: 1px solid #ccc;
  padding: 0.15rem 0.4rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

button {
  width: 7%;
  color: whitesmoke;
  background-color: rgb(5, 180, 255);
  padding: 0.2rem 0.4rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.quizze {
  width: 380px;
  height: 380px;
}

.quizze a {
  width: 90%;
  margin: auto;
  padding: 0.2rem;
  text-align: center;
  font-size: 1.2rem;
}
.quizze img {
  width: 100%;
  height: 50%;
}

.detail {
  margin-top: 1.5rem;
}
